<div id="choose1">
<% if !@categoryname2.nil? %>
<b>Category chosen: </b>
	<%= @parentcat.name %><br />	
<% end %>
</div>
<div id="choose2">
<% if !@categoryname2.nil? %>
<b>Sub Category chosen: </b>
	<%= @categoryname2.name %><br />	
<% end %>
</div>





<br />
<% if !@categoryname2.nil? %>
<%= link_to "Create a New Sub Sub Category", '#', :class => 'addWidget3', :"data-parent-id" => @categoryname2.id, :remote => true %>
<% else %>
<%= link_to "Create a New Sub Sub Category", '#', :class => 'addWidget3', :remote => true %>
<% end %>

<script>
	jQuery(function($) {
	$('.addWidget3').click(function(){
	($(this).attr('data-parent-id'));
	$( "#preview" ).html( "<%= escape_javascript( render( :partial => "categories/form.html" ) ) %>" );
});
});
</script>

<div id="preview"></div>





<% if !@categoryname2.nil? %>	
	<% @subcatlist2=[] %>
	<% @categories.each do |category| %>
		<% if category.parentid == @categoryname2.id %>
			<% @subcatlist2 << category %>
		<% end %>
	<% end %>

	<% if !@subcatlist2.empty? %>  <!-- then there is a sub sub category -->
	
	<br />or<br />
		
	<br /><b>Choose a Sub Sub category:</b>
<%= select_tag 'subsubcat', options_from_collection_for_select(@subcatlist2, 'id', 'name'), :include_blank => 'None', :remote => true %>
<br />

<script>
jQuery(function($) {
	$('#subsubcat').change(function() {
   //$(this).css("backgroundColor", "blue");
   
   var country = $('select#subsubcat :selected').val();
    if(country == "") country="0";
   
   jQuery.get('/homes/search4/' +  country, function(data){
        $("#results").html(data);   
      })
    return false;
 });
 });  
</script>
<div id='results'></div>	
	
		
	<% end %>
<% end %>
<br />
or
<br />
<% if !@categoryname2.nil? %>
<%= link_to "Create a New Product", '#', :class => 'addWidget4', :"data-cat-id" => @categoryname2.id, :include_blank => 'None', :remote => true %>
<% end %>
<script>
	jQuery(function($) {
	$('.addWidget4').click(function(){
	($(this).attr('data-cat-id'));
	$( "#preview" ).html( "<%= escape_javascript( render( :partial => "products/form.html" ) ) %>" );
});
});
</script>

<div id="preview"></div>

<% if !@products.nil? %>

<br />
or
<br />
<b> Choose a product</b>


<%= select_tag 'product2', options_from_collection_for_select(@products, 'id', 'name'), :include_blank => 'None', :remote => true %>

<br />
<script>
jQuery(function($) {
	$('#product2').click(function() {
   //$(this).css("backgroundColor", "blue");
   
   var country = $('select#product2 :selected').val();
    if(country == "") country="0";
   
   jQuery.get('/homes/search2/' +  country, function(data){
        $("#results").html(data);   
      })
    return false;
 });
 });  


</script>
<div id="results"></div>
<% end %>
