<div id="choose1">
<% if !@productname.nil? %>
<b>Category chosen: </b>
<% if !@parentcat3.nil? %>
	<%= @parentcat3.name %><br />

<% elsif !@parentcat2.nil? %>
	<%= @parentcat2.name %><br />
	
<% else %>
	<% if !@parentcat.nil? %>
		<%= @parentcat.name %>
	<% end %>
<% end %>	
<% end %>
</div>
<div id="choose2">
<% if !@productname.nil? %>
<b>Sub Category chosen: </b>
<% if !@parentcat3.nil? %>
	
	<% if !@parentcat2.nil? %>
		<%= @parentcat2.name %><br />
	<% end %>	
<% else %>
	<% if !@parentcat2.nil? %>
	<% if !@parentcat.nil? %>
		<%= @parentcat.name %>
	<% end %>
	<% end %>
<% end %>	
<% end %>
</div>


<b>Sub sub Category chosen:</b>

<% if !@productname.nil? %>
<% if @parentcat3.nil?  || @parentcat2.nil? %>


<% else %>
<% if !@parentcat.nil? %>
	<%= @parentcat.name %>
<% end %>	
<% end %>
<% end %>

<br />
<b>Product chosen:</b>
<% if !@productname.nil? %>
<%= @productname.name %>
<% end %>
<br />
<br />
<% if !@productname.nil? %>
<%= link_to "Create a New Product Variation", '#', :class => 'addWidget5', :"data-product-id" => @productname.id, :remote => true %>

<script>
	jQuery(function($) {
	$('.addWidget5').click(function(){
	($(this).attr('data-product-id'));
	$( "#preview5" ).html( "<%= escape_javascript( render( :partial => "products/form.html" ) ) %>" );
});
});
</script>

<div id="preview5"></div>
<% end %>

<br /><b>Choose a Product Variation to Copy:</b>
<%= select_tag 'copyprod', options_from_collection_for_select(@prodvar, 'id', 'name'), :include_blank => 'None', :remote => true %>
<br />

<script>
jQuery(function($) {
	$('#copyprod').change(function() {
   //$(this).css("backgroundColor", "blue");
   
   var country = $('select#copyprod :selected').val();
    if(country == "") country="0";
   
   jQuery.get('/homes/copy/' +  country, function(data){
        $("#results").html(data);   
      })
    return false;
 });
 });  
</script>
<div id='results'></div>	