<p id="notice"><%= notice %></p>
<div class="leftcolumn">
<p>
  <b>Name:</b>
  <%= @home.name %>
</p>

<p>
  <b>Main:</b>
  <%= @home.main %>
</p>
<br /><br /><br /><br /><br /><br /><br />
<!-- <div id = 'results'></div>-->
<div id = 'preview'>

</div>
<div id="choose1">
<% if !@categoryname.nil? %>
	<%= @categoryname.name %><br />	
<% end %>
</div>
<%= link_to 'Edit', edit_home_path(@home) %> |
<%= link_to 'Back', homes_path %>
</div>
<div class="rightcolumn">

<%= link_to "Create a New Main Category", '#', :class => 'addWidget',:id =>'parent', :"data-parent-id" => '156', :remote => true %>
<%= params[:addWidget] %>
<script>
	jQuery(function($) {
	$('.addWidget').click(function(){
	var parent = $('#parent').attr('data-parent-id');
	
	//$("#parent").attr("data-parent-id", function (arr) {
 	//return "parent-data-parent-id" + arr;
	//})

	$("#preview" ).html( "<%= escape_javascript( render( :partial => "categories/initform.html")) %>" );
});
});
</script>

<div id="preview">

</div>

<br />
<b>Choose a category:</b>
<%= select_tag 'category2', options_from_collection_for_select(@categories, 'id', 'name'), :include_blank => 'None', :remote => true %>
<br />
<script>
jQuery(function($) {
	$('#category2').change(function() {
   //$(this).css("backgroundColor", "blue");
   
   
   
   var country = $('select#category2 :selected').val();
    if(country == "") country="0";
   
   jQuery.get('/homes/search/' +  country, function(data){
        $("#results").html(data);   
        
      })
    return false;
     jQuery.get("/homes/choose/", { var1: "test" },
  function(data){
    $("#choose1").html(data);
  });
   
 });
 
 });  
 //$("#choose1" ).html(data);
 
</script>
<div id='results'></div>
<div id='choose1'></div>

<br />
<br />



<br />




</div>



<!-- Choosing a Category -->
