<p id="notice"><%= notice %></p>
<div class="leftcolumn">
<!--
<p>
  <b>Name:</b>
  <%= @home.name %>
</p>

<p>
  <b>Main:</b>
  <%= @home.main %>
</p>

<p>
<%= @home.main %><br />

</p>
<p>
<%= link_to 'Edit', edit_home_path(@home) %> |
<%= link_to 'Back', homes_path %>
</p>
-->
<!-- <div id = 'results'></div>-->
<div id = 'preview'>
<% if @product2.nil? && @category2.nil? %>


Welcome to the administrator pages of the Plastixs website. Please create or select a category to get started.
<% end %>

<% if !@category2.nil? %>
<div class="" >

<%= render (:partial => 'category.html') %>

</div>
<% end %>
<% if @category2.nil? %>
<div class="" >
<%= render (:partial => 'product.html') %>
</div>
<% end %>
</div>
<div id="choose1">
<% if !@categoryname.nil? %>
	<%= @categoryname.name %><br />	
<% end %>
</div>



</div>
<div class="rightcolumn">

<%= link_to "Create a New Main Category", '#', :class => 'addWidget',:id =>'parent', :"data-parent-id" => '156', :remote => true %>
<%= params[:addWidget] %>
<script>
	jQuery(function($) {
	$('.addWidget').click(function(){
	var parent = $('#parent').attr('data-parent-id');
	
	//$("#parent").attr("data-parent-id", function (arr) {
 	//return "parent-data-parent-id" + arr;
	//})

	$("#preview" ).html( "<%= escape_javascript( render( :partial => "categories/initform.html")) %>" );
});
});
</script>

<div id="preview">

</div>

<br />
<b>Choose a category:</b>
<%= select_tag 'category2', options_from_collection_for_select(@categoryinit, 'id', 'name'), :include_blank => 'None', :remote => true %>
<br />
<script>
jQuery(function($) {
	$('#category2').change(function() {
   //$(this).css("backgroundColor", "blue");
   	var country = $('select#category2 :selected').val();
    if(country == "") country="0";
     
   $.get('/homes/search/' +  country, function(data){	
       $("#results").html(data);
        });
        $.get('/homes/choose/' +  country, function(data){	
        $("#preview").html(data);   
         });
        //$("#preview" ).html( "<%= escape_javascript( render( :partial => "category.html")) %>" );
 
        //jQuery.get("/homes/choose/" + country, function(data){
    //$("#preview").html(data);
     
      
    //return false;
    
   
 });
 
 });  
 //$("#choose1" ).html(data);
  
</script>
<div id='results'></div>
<div id='choose1'></div>





</div>