<!DOCTYPE html>
<html>
<head>
  <title>Plastix2</title>
  <%= stylesheet_link_tag :all %>
  
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js" %>
  <%= javascript_include_tag  "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js" %>
  <%= javascript_include_tag 'rails' %>
  <%= csrf_meta_tag %>
  
  
  <script>
    function respondToChange() {
    $('category').up('form').submit()            // The ".up finds the form in the DOM"
    };
    </script>



</head>
<body>
<%=link_to "Home", :controller => 'homes', :action => 'show', :id => '1' %> |
<%=link_to "Categories", categories_path %> |
<%=link_to "Products", products_path %> 
<%= yield %>

</body>
</html>
